<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lily+Script+One|Open+Sans' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Bike There</title>

  <script src="https://www.google.com/jsapi"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjjq-ilS03GrIk9Og-wC1ulb0ymN_zmU&sensor=false"></script>
	    <!-- // <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=weather"></script> -->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	
</head>
<body>
	<div class="navbar">
		<a href='http://localhost:3000/bikes'>
			<div id="title">
			Bike There
		</div></a>
		<div class="navbar-right">
		<ul>
        <% if signed_in? %>
          <li class="nav"><%= link_to "My profile", current_user %></li>
          <li class="nav">
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        <% else %>
          <li class="nav"><%= link_to "Sign up", signup_path %></li>
          <li class="nav"><%= link_to "Sign in", signin_path %></li>
        <% end %>
		</ul>
		</div>
</div>

<%= yield %>

</body>
</html>
