<div class="container">

<h1>Journeys#edit</h1>


<%= form_for @journey do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= @journey["origin"] %> to <%= @journey["destination"] %>
<br>
<%= f.submit class: "btn btn-primary" %>
<% end %>

</div>