<div class="row">
	<div class="span4">
    <section>
      <h3><%= current_user.name %></h3>
      <h3><%= current_user.email %></h3>
      <ol>
      	<% @journey.each do |journey| %>
	      <li><%= journey["origin"] %> to <%= journey["destination"] %></li>
		      <h3><% journey.waypoints.each do |waypoint| %></h3>
		      <h3><%= waypoint["way_lat"] %>, <%= waypoint["way_lng"]%></h3>
	      	<% end %>
      	<% end %>
      </ol>

      <a href="http://maps.googleapis.com/maps/api/directions/json?origin=Boston,MA&destination=Concord,MA&waypoints=Charlestown,MA|Lexington,MA&sensor=false
">link </a>

    <script>
      var route_info = <%= render inline: @json_stuff %>

    </script>

    </section>
</div>
</div>

